# Reading data from an wikipedia URL

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

Acessing the html content from the webpage:

In [4]:
medals_url = 'https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table'
response = requests.get(medals_url)

Parsing the html content:

In [5]:
soup = BeautifulSoup(response.content, 'html5lib')

Searching and navigating through the parse tree:

In [6]:
table = soup.find("table",{"class":"wikitable sortable"})
head = ['Country', 'Gold medals', 'Silver medals', 'Bronze medals', 'Total of medals']
df = {'Country': [], 'Gold medals': [], 'Silver medals': [], 'Bronze medals': [], 'Total of medals': []}
rows = table.find('tbody')

for row in rows.findAll('tr'):
    cells = row.findAll('td')
    if cells:
        df['Country'].append(cells[0].find('a').text)
        df['Gold medals'].append(cells[7].find(text=True).replace('\n', ''))
        df['Silver medals'].append(cells[8].find(text=True).replace('\n', ''))
        df['Bronze medals'].append(cells[9].find(text=True).replace('\n', ''))
        df['Total of medals'].append(cells[10].find(text=True).replace('\n', ''))

Converting the data extracted from wikipedia into a panda dataframe:

In [7]:
df = pd.DataFrame(df)
df.head(20)

,Country,Gold medals,Silver medals,Bronze medals,Total of medals
0,Afghanistan,0,0,0,0
1,Algeria,0,0,0,0
2,Argentina,0,0,0,0
3,Armenia,0,0,0,0
4,Australasia,0,0,0,0
5,Australia,5,5,5,15
6,Austria,64,81,87,232
7,Azerbaijan,0,0,0,0
8,Bahamas,0,0,0,0
9,Bahrain,0,0,0,0
10,Barbados,0,0,0,0
11,Belarus,8,5,5,18
12,Belgium,1,2,3,6
13,Bermuda,0,0,0,0
14,Bohemia,0,0,0,0
15,Botswana,0,0,0,0
16,Brazil,0,0,0,0
17,British West Indies,0,0,0,0
18,Bulgaria,1,2,3,6
19,Burundi,0,0,0,0

In [10]:
df.to_csv(path_or_buf=r'..\datasets\exercise1\url_medals.csv')